@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap');

body{

  background-color: rgb(0, 104, 195);
  font-family: "Oswald", Barlow;

}

.navbar {
  font-family: "Oswald", Barlow;


}

.navbar a  {
  color: rgb(142, 0, 224);

  font-size: 30px;
}

.navbar {


  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.411);

}             

@media (max-width: 1400px) { 

  .ham  {

    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }


 }

.ham {

display: flex;
flex-flow: row nowrap;
justify-content:space-evenly;
padding-top: 8rem;
}

.bostero h1 {
  text-align: center;
  font-size: 20px;
  color: #a212cb;

}
